<div class="flex h-16 items-center bg-background">
  <div class="flex w-full items-center justify-between px-5 text-[13px] font-medium">
    <div class="text-muted-foreground/50">
      <span class="mr-2">{{ year }}©</span>
      <span>TMS</span>
    </div>
    <ul class="flex text-muted-foreground/50">
      <li class="hover:text-primary">
        <a routerLink="/dashboard" class="px-2">Dashboard</a>
      </li>
      <li class="hover:text-primary">
        <a routerLink="/tasks" class="px-2">Kanban</a>
      </li>
    </ul>
  </div>
</div>
